div {
    font-size: 20px;
  }
  
  .ttt-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .ttt-container button {
    margin: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    width: 250px;
  }
  
  .ttt-container button:hover {
    background-color: lightgray;
    border: 1px solid black;
    cursor: pointer;
  }

  .active {
    background-color: lightgrey;
  }

h1 {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 50px;
    font-family: 'Kumar One Outline', cursive;
    margin: 0px;
  }
  
  h2 {
    font-family: 'Kumar One Outline', cursive;
    font-size: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

ul {
    margin: auto;
    width: 300px;
    height: 300px;
    border: 5px solid black;
    padding: 0px;
  }
  
  li {
    background-color: pink;
    float: left;
    width: 90px;
    height: 90px;
    border: 5px solid black;
    list-style-type: none;
    font-size: 70px;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
  }

  li:hover {
    background-color: #EB5160;
    cursor: pointer;
  }

  img {
    height: 50px;
  }
  
  nav {
    border-bottom: 1px solid lightgrey;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: white;
    padding-top: 15px;
  }

  .buttons {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
